body {
  position:fixed;
  background-image: url("snowBerryChase.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* Preserve aspet ratio
  min-width: 100%;
  min-height: 100%;*/
}

footer {
  left:0
  padding: 0px;
  font-size: .8em;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
