body {
  position:fixed;
  top: 0;
  left: 0;
  background-image: url("snowBerryChase.png");
  background-size: cover;
  background-repeat: no-repeat;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

footer {
  position:fixed;
  bottom:0
  left:0
  font-size: .8em;
}

nav ul li, footer ul li {
    display:list-item;
    margin-right: 20px;
}
