address {
    display: block;
    font-style: italic;
    color:darkgreen;
}
div.Highlight {
    color: darkblue;
    margin: 20px 0 20px 0;
    padding: 20px;

}
section {
    line-height:30px;
    background-color:green;
    height:600px;
    width:100px;
    float:left;
    padding:5px;
    border: 10px solid black;
    background-image: url("abstracte_3.png");
    background-position: top;
}
body {
    margin: 10px auto;
    width: 70%;
    border: 15px solid grey;
    border-radius: 35px;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
    background-image: url("abstracte_2.png");
    background-position: top;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;

}
a {
    text-decoration: none;
    color: darkred;
}
a:hover {
    text-decoration: underline;
    color: darkblue;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-image: url("abstracte.png");
    background-position: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
    text-indent: 50px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.0em;

}

ul.posts li {
    list-style: none;
    color: red;
}
